body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
    background-image: url("../img/back.png");
    background-size: cover;
}
[v-cloak]{ display: none; }
.register-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;

    display: flex;
}

.register-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: .75rem;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.btn-register {
    background-color: #28a745;
}

.btn-register:hover {
    background-color: #218838;
}

.btn-clear {
    background-color: #dc3545;
}

.btn-clear:hover {
    background-color: #c82333;
}


.left-container {
    background-image: url("../img/leftimg.jpg");
    background-size: cover;
    width: 43%;
    margin-right: 50px;
}
.right-container {
    width: 54%;
}
